{% extends  'base.html' %}
{% block content %}
<div class="blocksobre">
    <div class="texto">
        <h3>Sobre Nós</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid blanditiis, distinctio quasi praesentium sint nam eveniet repellendus ad suscipit atque facilis sit consequuntur amet fugiat, consectetur fugit quia dolores tempore?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quae labore magnam, soluta sed vel tenetur, ab hic, dolorem neque rerum delectus error itaque sit in ad dolor culpa nihil. </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quidem nisi at nostrum et consectetur praesentium reprehenderit soluta, totam hic, quasi natus mollitia nemo voluptatum minus repellendus doloremque. Nesciunt, ullam?</p>
    </div>
    <div id="pcsobre">
        <img src="../static/img/pc.png" alt="">
    </div>
    <div>
        <img src="../static/img/icone.png" alt="">
        <img src="../static/img/icone.png" alt="">
        <img src="../static/img/icone.png" alt="">
        <img src="../static/img/icone.png" alt="">
    </div>
</div>
{% endblock %}